<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.a3130_vote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.a3130_vote.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/dal_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dal_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.a3130_vote.activities.VoteActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.example.a3130_vote.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.a3130_vote.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.a3130_vote.activities.SignInActivity"
            android:parentActivityName="com.example.a3130_vote.activities.MainActivity" />
        <activity
            android:name="com.example.a3130_vote.activities.SignUpActivity"
            android:parentActivityName="com.example.a3130_vote.activities.MainActivity" />
        <activity
            android:name="com.example.a3130_vote.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>