<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a3130_vote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/dal_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dal_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ShowResult"></activity>
        <activity android:name=".activities.ShowResult1"></activity>
        <activity android:name=".activities.AllResult"></activity>

        <activity android:name=".activities.ShareActivity" />
        <activity android:name=".activities.ManagerPanel" />
        <activity
            android:name=".activities.VoteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VoteActivity1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignInActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.SignUpActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>